<header>
  <h1>bigactiontextbox.com</h1>
</header>
<main>
  <%= rich_textarea_tag :content, "", autofocus: true %>
</main>
<footer>
  Based on <%= link_to "bigtextbox.com", "https://bigtextbox.com" %>
  |
  &copy; 2011&ndash;24 Grant Hutchins
  |
  <%= link_to "nertzy.com", "https://nertzy.com" %>
</footer>
